@{
    ViewData["Title"] = "Save the Water!";
}
<link rel="stylesheet" href="~/css/Twogame/index.css" asp-append-version="true" />


<table>
    <tr>
        <td id="column1">
            <h1>
                SAVE THE <br> WATER!
            </h1>
            <p>
                Will you be able to bring back the water your family needs?
            </p>
            <button onclick="window.location='/SavetheWater/story'">START RUNNING!</button>
            <div class="overlay">
            </div>
        </td>
        <td>
        </td>
    </tr>
</table>
<img id="person" src="~/img/character.png" width="280px">
<img id="tumbleweed" src="~/img/tumbleweed.png" width="150px">

