@{
    ViewData["Title"] = "Save the Water!";
}
<link rel="stylesheet" href="~/css/Twogame/story.css" asp-append-version="true" />


        <table id="table1">
          <tr>
            <td id="column1">
              <h1>
                CHERU'S STORY
              </h1>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              <!-- Card Divider of Information -->
              <div class="bubble">
                <table>
                  <tr>
                    <td>
                      <p class="text1">
                        &nbsp; &nbsp; Life isn't easy for Cheru and her family...
                        <br>
                        <br>
                      </p>
                      <p class="text1">
                        &nbsp; &nbsp; West Pokot County barely rains and the only
                        <br>
                        &nbsp; &nbsp; source of water is the nearest water well - which
                        <br>
                        &nbsp; &nbsp; is over <span style="font-weight:600"> 6000 meters </span> away!<br><br>
                      </p>
                      <p class="text1">
                        &nbsp; &nbsp; Cheru treks everyday to get water for her family,
                        <br> &nbsp; &nbsp; but it's tough... she encounters anything <br> &nbsp; &nbsp; from tumbleweeds to even birds!
                      </p>
                      <p class="text">
                                <button id="CTA" onclick="window.location='/SavetheWater/instructions'">
                          NEXT
                        </button>
                                <button id="SKIP" onclick="window.location='/SavetheWater/instructions'">
                          SKIP INSTRUCTIONS
                        </button>
                      </p>
                    </td>
                    <td>
                      <img id="fam" src="~/img/fam.png" height="400">
                    </td>
                  </tr>
                </table>



              </div>
            </td>
          </tr>
        </table>

